<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card" style="width: 24rem; margin-top: 2rem;height: 50vh;">
      <div class="card-body text-center">
        <h5 class="card-title">{{ userData?.firstName || 'User Name' }}</h5>
        <p class="card-text">Email: {{ userData?.email || 'user@example.com' }}</p>
        <p class="card-text">Phone: {{ userData?.mobile || '123-456-7890' }}</p>
        <p class="card-text">Address: {{ userData?.address || '123 Main St, City, Country' }}</p>
      </div>
    </div>
  </div>
  