.sidebar {
  margin: 0;
  margin-top: 56px;
  margin-left: -15px;
  padding: 0;
  width: 220px;
 
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #002E3E
  
}

 
.sidebar a {
  display: block;
  color:white;
  padding: 16px;
  text-decoration: none;
  font-weight: 600;

}
.sidebar a.active {
  background-color: #02edfa;
  color: black;
 
} 
 
.sidebar a:hover:not(.active) {
  color: #02edfa;
  
}
 
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
 
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
 
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}